# INFO 2950 - Project Phase III
---

By: David Fleurantin (djf252) and Meredith Hu (mmh264)
</br>
GitHub: https://github.com/DavidFleurantin/INFO-2950-Final-Project
</br>
Google Drive Link: https://drive.google.com/drive/folders/1iBHVGOBGvDMe7iT7gU4-bCawfUNaYZwe?usp=sharing

In [5]:
# load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://cdn.shopify.com/s/files/1/0072/7315/2579/articles/wallstreet_blog_grande.jpg?v=1598894414")

## Data Import
---

Data Cleaning and Curation steps have been excluded. Please refer to Phase II for for more details. 
</br>
Datasets can be found here: https://drive.google.com/drive/folders/1iBHVGOBGvDMe7iT7gU4-bCawfUNaYZwe?usp=sharing

In [24]:
## load Reddit (WSB) data
reddit_data = pd.read_csv("reddit_wsb_final.csv")
reddit_data.head()

,title,score,comms_num,body,timestamp
0,"It's not about the money, it's about sending a...",55,6,0.0,2021-01-28 21:37:41
1,Math Professor Scott Steiner says the numbers ...,110,23,0.0,2021-01-28 21:32:10
2,Exit the system,0,47,1319.0,2021-01-28 21:30:35
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,29,74,0.0,2021-01-28 21:28:57
4,"Not to distract from GME, just thought our AMC...",71,156,0.0,2021-01-28 21:26:56

In [87]:
## load Gamestop (GME Stock) data
gme_data = pd.read_csv("gme_data_final.csv")
gme_data.head()

                  time      open    high       low   close  volume
0  2021-03-19 20:00:00  199.3100  199.40  198.5601  199.00   14316
1  2021-03-19 19:30:00  199.9800  199.99  199.2000  199.30    6403
2  2021-03-19 19:00:00  199.1000  200.00  199.0000  200.00   15086
3  2021-03-19 18:30:00  200.2400  200.29  199.0100  199.40   20833
4  2021-03-19 18:00:00  199.5972  200.40  199.5500  200.24   14931

In [89]:
reddit_data.describe()

              score     comms_num          body
count   42553.00000  42553.000000  42553.000000
mean     1377.25453    203.011774    494.531008
std      8381.80570   2441.833305   1494.372728
min         0.00000      0.000000      0.000000
25%         1.00000      2.000000      0.000000
50%        25.00000     11.000000      0.000000
75%       166.00000     44.000000    303.000000
max    348241.00000  93268.000000  34984.000000

In [76]:
#reddit data - GME Subset

reddit_data_test = reddit_data.copy()

In [85]:
#https://stackoverflow.com/questions/22909082/pandas-converting-string-object-to-lower-case-and-checking-for-string
reddit_data_test = reddit_data_test[reddit_data_test["title"].str.contains("(?i)gme|Gamestop|Game Stop")]

In [90]:
reddit_data_test.describe()

               score     comms_num          body
count    8809.000000   8809.000000   8809.000000
mean     1819.785787    343.753548    526.592349
std      9491.172973   3693.024629   1501.850955
min         0.000000      0.000000      0.000000
25%         1.000000      2.000000      0.000000
50%        37.000000     15.000000      0.000000
75%       248.000000     62.000000    323.000000
max    225870.000000  93268.000000  34984.000000

## Preregistered Analysis
---

#### 1. frequency of posts on reddit during (30 min intervals) lead to higher price of gamestop stock (correlate positively) within intervals (every 30 min)

#### 2. also does the freuqency/amount of posts that mention gamestop in the title correlate positively with gamestop stock price

#### 3. find the statistics on post upvotes (mean, stdev) and see what is a statistical outlier for upvotes then track what were the most statistically anomalistic upvoted posts were in the timespan of the stock price rising and see if there's a correlation between their times and the rising price times

---
## Questions for Reviewers

1. a

2. b

3. c

4. d